h1 {
  font-size: calc(10px + 3vmin);
}
h2 {
  font-size: calc(10px + 2vmin);
}

.App {
  text-align: center;
}

.light {
  color: black;
}
.dark {
  color: white;
}

.TitleBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: gray;
}

.MainField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}